<div class="legendCard">
				<a href="Champions/{{html}}" class="link">
					<img src="Champions/Champion-Images/{{image}}" alt="{{name}}" class="image border"/>
		  			<p class="name border">{{name}}</p>
				</a>
			</div>