	<link href="styles.css" rel="stylesheet" type="text/css">
	<header>
		<nav class="nav"><a href="../" class="return">All Champions</a></nav>
	</header>
	<body>
		<div>
			<p class="error border">
				404 Error
				<br>Could not find any champions!</br>
			</p>
	</div>
	</body>