.border /*Configures containers with borders. Usefully to make borders uniform*/{
    border-width: medium;
    border-style: ridge;
    margin: 0px 0px 0px 0px;
    border-color: gold;
}
#Title {
    text-align: center;
    font-weight: 800;
    font-size: xx-large;
    font-variant: small-caps;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: gold;
    margin-right: 120px;
    margin-left: 120px;
    background-image: url("/Champions/Champion-Images/bck-grnd-color.PNG");
    background-size: auto;
}
#search {
    text-align: center;
}


body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
	color: black;
	background-image: url("/Champions/Champion-Images/LeagueBckGrnd.jpg");
	background-size: cover;
}
body main {
}
.legends {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}
.legends .legendCard {
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    padding-bottom: 0px;
}


.image /*This is the Champion's Image*/{
    float: none;
    width: 250px;
    height: 300px;
    grid-area: menu;
    padding-top: 0px;
    margin-top: 0px;
    object-fit: cover;
}
.name {
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-variant: small-caps;
    font-weight: bold;
    font-size: x-large;
    background-image: url("/Champions/Champion-Images/bck-grnd-color.PNG");
    background-size: cover;
    color: gold;
}

.link{
	color: black;
	text-decoration: none;
}

.link :visited {
	color: black;
	text-decoration: none;
}

.nav /*This is the container for All Champions return button*/{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3E3D3D;/*This is the container's background color*/
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


}.return /*This is the text container for 'All Champions' return button*/{
    color: #FFFFFF;/*Default text color for 'All Champions'*/
    text-decoration: none;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: 700;
    font-size: xx-large;
    text-align: center;
    display: block;
}.error {
    text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 900;
    font-size: xx-large;
    background-image: url(Champions/Champion-Images/bck-grnd-color.PNG);
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    color: gold;
    background-repeat: repeat-x;
    padding: 45px 45px 45px 45px;
    display: inline-block;
    margin-top: 300px;
    margin-left: 33%;
}
.hidden {
    display: none;
}