.border /*Configures containers with borders. Usefully to make borders uniform*/{
    border-width: medium;
    border-style: inset;
	border-color: gold;
    margin: 0px 0px 0px 0px;
}
.nav /*This is the container for All Champions return button*/{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3E3D3D;/*This is the container's background color*/
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


}
.return /*This is the text container for 'All Champions' return button*/{
    color: #FFFFFF;/*Default text color for 'All Champions'*/
    text-decoration: none;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: 700;
    font-size: xx-large;
    text-align: center;
    display: block;
}
.return:hover /*This will turn All Champions text when mouse hovers it*/{
    color: #DFB816;
}
body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
	color:white;
	background-image: url("Champion-Images/LeagueBckGrnd.jpg");
	background-size: cover;
}
#ChampionInfo /*This is the container for Champion Name, Champion Lore, and Champion's Picture*/{
	font-family: Roboto;
	color: white;
	display: grid;
    grid-template-areas: 'menu main main main main main main'
		'menu footer footer footer footer footer footer'
		'menu footer footer footer footer footer footer'
		'menu footer footer footer footer footer footer'
		'menu footer footer footer footer footer footer'
		'menu footer footer footer footer footer footer'
		'menu footer footer footer footer footer footer'
		'menu footer footer footer footer footer footer'
		'menu footer footer footer footer footer footer'
		'menu footer footer footer footer footer footer'
		'menu footer footer footer footer footer footer';
    margin-top: 100px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 50px;
}

.image /*This is the Champion's Image*/{
    float: none;
    width: 250px;
    height: 300px;
    grid-area: menu;
    padding-top: 0px;
    margin-top: 0px;
    object-fit: cover;
}
.Name /*This is the Champion's Name Container and Text*/{
    text-align: center;
    float: none;
    clear: none;
    display: inline-block;
    grid-area: main;
    height: 40px;
	font-family: Roboto;
	background-image: url("Champion-Images/bck-grnd-color.PNG");
	background: rgba(0,0,0,0.6);
}


.Lore /*This is the container and text for the Champion's Lore*/{
    display: inline-block;
    grid-area: footer;
    padding: 10px 10px 10px 10px;
	background-image: url("Champion-Images/bck-grnd-color.PNG");
	background: rgba(0,0,0,0.7);
}
.Moves-Container #passive-container /*This is the Passive Move Container*/{
	background: rgba(0,0,0,0.7);
}
#passive-container .border #passive /*This is the 'Passive' text*/{
    font-weight: 600;
    font-size: xx-large;
    text-align: center;
    line-height: 275%;
    padding-right: 50px;
    padding-left: 50px;
}
#passiveborder {
    min-width: 85.9%;
    padding-left: 0px;
}



#ChampionMove /*This is the container for Champion's Move Set*/{
    margin: 40px 200px 20px 200px;
    text-align: center;
	background-image: url("Champion-Images/bck-grnd-color.PNG");
	background: rgba(0,0,0,0.7);
}
.Moves-Container .move /*This is the container for all of the Champion's Moves*/{
    display: flex;
    grid-template-areas: 'menu main main main main main main';
    margin-top: 0px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 0px;
	background: rgba(0,0,0,0.7);
}

.Moves-Container .move .key /*This is the Container for the move's key Ex. Q W E R Containers*/{
    grid-area: menu;
    width: 300px;
	background-image: url("Champion-Images/bck-grnd-color.PNG");
	background: rgba(0,0,0,0.7);
}
.move .key .keystroke /*This is the Move's Key text Ex. 'Q' 'W' 'E' 'R'*/{
    margin: 20px 0px 20px 0px;
    text-align: center;
    font-weight: 800;
    font-size: 100px;
}
.Moves-Container .move .description /*This is the Move's Description Container*/{
    grid-area: main;
    border: inset;
    border-color: gold;
    min-width: 88.9%;
}
.move-name   /*This is the 'Move's Name' text*/{
    text-decoration: underline;
    text-align: center;
    margin: 0px 0px 0px 0px;
    font-size: x-large;
}
.move .description .move-desc /*This is the Move's Description Text*/{
    margin: 0px 0px 0px 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 122%;
}
